--
-- PostgreSQL database dump
--

\restrict Ctsji8nIORKoBDmNi0ZaPldqw8FgmKHztCzFBD5LEx042BWgcNgcLPJrbVmpLn8

-- Dumped from database version 17.10
-- Dumped by pg_dump version 17.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: storeuser
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO storeuser;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: storeuser
--

COMMENT ON SCHEMA public IS '';


--
-- Name: BusinessType; Type: TYPE; Schema: public; Owner: storeuser
--

CREATE TYPE public."BusinessType" AS ENUM (
    'RESTAURANT',
    'FAST_FOOD',
    'CAFE',
    'ICE_CREAM_PARLOUR',
    'BAKERY',
    'CLOUD_KITCHEN',
    'RETAIL'
);


ALTER TYPE public."BusinessType" OWNER TO storeuser;

--
-- Name: Designation; Type: TYPE; Schema: public; Owner: storeuser
--

CREATE TYPE public."Designation" AS ENUM (
    'OWNER',
    'BRANCH_MANAGER',
    'CASHIER',
    'KITCHEN_STAFF',
    'RIDER',
    'GENERAL_STAFF'
);


ALTER TYPE public."Designation" OWNER TO storeuser;

--
-- Name: DiscountType; Type: TYPE; Schema: public; Owner: storeuser
--

CREATE TYPE public."DiscountType" AS ENUM (
    'PERCENTAGE',
    'FIXED_AMOUNT',
    'FREE_DELIVERY'
);


ALTER TYPE public."DiscountType" OWNER TO storeuser;

--
-- Name: FulfillmentType; Type: TYPE; Schema: public; Owner: storeuser
--

CREATE TYPE public."FulfillmentType" AS ENUM (
    'DINE_IN',
    'TAKEAWAY',
    'DELIVERY'
);


ALTER TYPE public."FulfillmentType" OWNER TO storeuser;

--
-- Name: GlobalRole; Type: TYPE; Schema: public; Owner: storeuser
--

CREATE TYPE public."GlobalRole" AS ENUM (
    'SUPER_ADMIN',
    'TENANT_USER'
);


ALTER TYPE public."GlobalRole" OWNER TO storeuser;

--
-- Name: LoyaltyTier; Type: TYPE; Schema: public; Owner: storeuser
--

CREATE TYPE public."LoyaltyTier" AS ENUM (
    'BRONZE',
    'SILVER',
    'GOLD',
    'PLATINUM'
);


ALTER TYPE public."LoyaltyTier" OWNER TO storeuser;

--
-- Name: OrderChannel; Type: TYPE; Schema: public; Owner: storeuser
--

CREATE TYPE public."OrderChannel" AS ENUM (
    'POS',
    'STOREFRONT',
    'KITCHEN_MANUAL',
    'THIRD_PARTY'
);


ALTER TYPE public."OrderChannel" OWNER TO storeuser;

--
-- Name: OrderStatus; Type: TYPE; Schema: public; Owner: storeuser
--

CREATE TYPE public."OrderStatus" AS ENUM (
    'PENDING',
    'ACCEPTED',
    'PREPARING',
    'READY',
    'OUT_FOR_DELIVERY',
    'DELIVERED',
    'COMPLETED',
    'CANCELLED'
);


ALTER TYPE public."OrderStatus" OWNER TO storeuser;

--
-- Name: PaymentMethod; Type: TYPE; Schema: public; Owner: storeuser
--

CREATE TYPE public."PaymentMethod" AS ENUM (
    'CASH',
    'COD',
    'CARD',
    'ONLINE',
    'WALLET',
    'BANK_TRANSFER',
    'LOYALTY_POINTS'
);


ALTER TYPE public."PaymentMethod" OWNER TO storeuser;

--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: storeuser
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'UNPAID',
    'PAID',
    'REFUNDED'
);


ALTER TYPE public."PaymentStatus" OWNER TO storeuser;

--
-- Name: PermissionLevel; Type: TYPE; Schema: public; Owner: storeuser
--

CREATE TYPE public."PermissionLevel" AS ENUM (
    'NONE',
    'READ',
    'MANAGE'
);


ALTER TYPE public."PermissionLevel" OWNER TO storeuser;

--
-- Name: TenantStatus; Type: TYPE; Schema: public; Owner: storeuser
--

CREATE TYPE public."TenantStatus" AS ENUM (
    'ACTIVE',
    'SUSPENDED',
    'PENDING_PAYMENT'
);


ALTER TYPE public."TenantStatus" OWNER TO storeuser;

--
-- Name: TicketPriority; Type: TYPE; Schema: public; Owner: storeuser
--

CREATE TYPE public."TicketPriority" AS ENUM (
    'LOW',
    'MEDIUM',
    'HIGH',
    'URGENT'
);


ALTER TYPE public."TicketPriority" OWNER TO storeuser;

--
-- Name: TicketStatus; Type: TYPE; Schema: public; Owner: storeuser
--

CREATE TYPE public."TicketStatus" AS ENUM (
    'OPEN',
    'IN_PROGRESS',
    'RESOLVED',
    'CLOSED'
);


ALTER TYPE public."TicketStatus" OWNER TO storeuser;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: storeuser
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO storeuser;

--
-- Name: branches; Type: TABLE; Schema: public; Owner: storeuser
--

CREATE TABLE public.branches (
    id text NOT NULL,
    tenant_id text NOT NULL,
    name character varying(255) NOT NULL,
    address text NOT NULL,
    phone character varying(50),
    is_active boolean DEFAULT true NOT NULL,
    opening_time character varying(10),
    closing_time character varying(10),
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.branches OWNER TO storeuser;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: storeuser
--

CREATE TABLE public.categories (
    id text NOT NULL,
    tenant_id text NOT NULL,
    name character varying(255) NOT NULL,
    slug character varying(255) NOT NULL,
    image_url jsonb,
    card_style character varying(20),
    sort_order integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.categories OWNER TO storeuser;

--
-- Name: customers; Type: TABLE; Schema: public; Owner: storeuser
--

CREATE TABLE public.customers (
    id text NOT NULL,
    tenant_id text NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255),
    phone character varying(50) NOT NULL,
    is_guest boolean DEFAULT true NOT NULL,
    loyalty_points integer DEFAULT 0 NOT NULL,
    tier public."LoyaltyTier" DEFAULT 'BRONZE'::public."LoyaltyTier" NOT NULL,
    total_orders integer DEFAULT 0 NOT NULL,
    total_spent numeric(12,2) DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.customers OWNER TO storeuser;

--
-- Name: delivery_zones; Type: TABLE; Schema: public; Owner: storeuser
--

CREATE TABLE public.delivery_zones (
    id text NOT NULL,
    branch_id text NOT NULL,
    area_name character varying(255) NOT NULL,
    city character varying(255) NOT NULL,
    delivery_fee numeric(10,2) DEFAULT 0 NOT NULL,
    estimated_minutes integer DEFAULT 45 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.delivery_zones OWNER TO storeuser;

--
-- Name: global_areas; Type: TABLE; Schema: public; Owner: storeuser
--

CREATE TABLE public.global_areas (
    id text NOT NULL,
    city character varying(100) NOT NULL,
    region character varying(100) NOT NULL,
    name character varying(100) NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.global_areas OWNER TO storeuser;

--
-- Name: menu_items; Type: TABLE; Schema: public; Owner: storeuser
--

CREATE TABLE public.menu_items (
    id text NOT NULL,
    tenant_id text NOT NULL,
    category_id text NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    image_url jsonb,
    base_price numeric(10,2) NOT NULL,
    discounted_price numeric(10,2),
    badge_text character varying(100),
    badge_color character varying(20),
    meta_note character varying(255),
    price_prefix character varying(50),
    deal_layout boolean DEFAULT false NOT NULL,
    calories integer,
    preparation_time_mins integer DEFAULT 15 NOT NULL,
    is_available boolean DEFAULT true NOT NULL,
    is_featured boolean DEFAULT false NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.menu_items OWNER TO storeuser;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: storeuser
--

CREATE TABLE public.order_items (
    id text NOT NULL,
    order_id text NOT NULL,
    menu_item_id text,
    item_name character varying(255) NOT NULL,
    unit_price numeric(10,2) NOT NULL,
    quantity integer NOT NULL,
    selected_variants jsonb,
    item_note text,
    total_price numeric(10,2) NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.order_items OWNER TO storeuser;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: storeuser
--

CREATE TABLE public.orders (
    id text NOT NULL,
    order_number character varying(50) NOT NULL,
    tenant_id text NOT NULL,
    branch_id text NOT NULL,
    customer_id text,
    channel public."OrderChannel" NOT NULL,
    fulfillment_type public."FulfillmentType" NOT NULL,
    status public."OrderStatus" DEFAULT 'PENDING'::public."OrderStatus" NOT NULL,
    payment_method public."PaymentMethod" NOT NULL,
    payment_status public."PaymentStatus" DEFAULT 'UNPAID'::public."PaymentStatus" NOT NULL,
    subtotal numeric(10,2) NOT NULL,
    tax_amount numeric(10,2) DEFAULT 0 NOT NULL,
    discount_amount numeric(10,2) DEFAULT 0 NOT NULL,
    delivery_fee numeric(10,2) DEFAULT 0 NOT NULL,
    grand_total numeric(10,2) NOT NULL,
    delivery_address text,
    nearest_landmark text,
    delivery_instructions text,
    table_number character varying(20),
    special_instructions text,
    private_kitchen_notes text,
    status_timeline jsonb,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.orders OWNER TO storeuser;

--
-- Name: platform_plans; Type: TABLE; Schema: public; Owner: storeuser
--

CREATE TABLE public.platform_plans (
    id text NOT NULL,
    name character varying(100) NOT NULL,
    monthly_price numeric(10,2) NOT NULL,
    max_branches integer NOT NULL,
    max_menu_items integer NOT NULL,
    transaction_fee_pct numeric(5,2) DEFAULT 0 NOT NULL,
    features_json jsonb,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.platform_plans OWNER TO storeuser;

--
-- Name: pos_devices; Type: TABLE; Schema: public; Owner: storeuser
--

CREATE TABLE public.pos_devices (
    id text NOT NULL,
    tenant_id text NOT NULL,
    branch_id text NOT NULL,
    device_id text NOT NULL,
    computer_name character varying(255),
    socket_id character varying(255),
    version character varying(50),
    status character varying(50) DEFAULT 'offline'::character varying NOT NULL,
    os character varying(100),
    local_ip character varying(50),
    last_seen timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.pos_devices OWNER TO storeuser;

--
-- Name: print_history; Type: TABLE; Schema: public; Owner: storeuser
--

CREATE TABLE public.print_history (
    id text NOT NULL,
    tenant_id text NOT NULL,
    branch_id text NOT NULL,
    device_id text,
    printer_id text,
    type character varying(50) NOT NULL,
    status character varying(50) NOT NULL,
    payload jsonb,
    error text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.print_history OWNER TO storeuser;

--
-- Name: print_jobs; Type: TABLE; Schema: public; Owner: storeuser
--

CREATE TABLE public.print_jobs (
    id text NOT NULL,
    tenant_id text NOT NULL,
    branch_id text NOT NULL,
    device_id text,
    printer_id text,
    type character varying(50) NOT NULL,
    status character varying(50) DEFAULT 'pending'::character varying NOT NULL,
    payload jsonb,
    error text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.print_jobs OWNER TO storeuser;

--
-- Name: printers; Type: TABLE; Schema: public; Owner: storeuser
--

CREATE TABLE public.printers (
    id text NOT NULL,
    tenant_id text NOT NULL,
    branch_id text NOT NULL,
    name character varying(255) NOT NULL,
    is_receipt boolean DEFAULT false NOT NULL,
    is_kitchen boolean DEFAULT false NOT NULL,
    is_label boolean DEFAULT false NOT NULL,
    driver character varying(50) NOT NULL,
    vendor_id character varying(100),
    product_id character varying(100),
    ip character varying(50),
    port integer,
    paper_width integer DEFAULT 80 NOT NULL,
    status character varying(50) DEFAULT 'offline'::character varying NOT NULL,
    last_heartbeat timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.printers OWNER TO storeuser;

--
-- Name: promotions; Type: TABLE; Schema: public; Owner: storeuser
--

CREATE TABLE public.promotions (
    id text NOT NULL,
    tenant_id text NOT NULL,
    code character varying(50) NOT NULL,
    discount_type public."DiscountType" NOT NULL,
    discount_value numeric(10,2) NOT NULL,
    min_order_amount numeric(10,2) DEFAULT 0 NOT NULL,
    max_discount_cap numeric(10,2),
    start_date timestamp(3) without time zone,
    end_date timestamp(3) without time zone,
    usage_limit integer,
    times_used integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.promotions OWNER TO storeuser;

--
-- Name: staff_profiles; Type: TABLE; Schema: public; Owner: storeuser
--

CREATE TABLE public.staff_profiles (
    id text NOT NULL,
    user_id text NOT NULL,
    branch_id text,
    designation public."Designation" DEFAULT 'GENERAL_STAFF'::public."Designation" NOT NULL,
    permission_orders public."PermissionLevel" DEFAULT 'MANAGE'::public."PermissionLevel" NOT NULL,
    permission_menu public."PermissionLevel" DEFAULT 'READ'::public."PermissionLevel" NOT NULL,
    permission_reports public."PermissionLevel" DEFAULT 'NONE'::public."PermissionLevel" NOT NULL,
    permission_settings public."PermissionLevel" DEFAULT 'NONE'::public."PermissionLevel" NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.staff_profiles OWNER TO storeuser;

--
-- Name: support_tickets; Type: TABLE; Schema: public; Owner: storeuser
--

CREATE TABLE public.support_tickets (
    id text NOT NULL,
    tenant_id text NOT NULL,
    created_by_user_id text NOT NULL,
    subject character varying(255) NOT NULL,
    category character varying(100),
    priority public."TicketPriority" DEFAULT 'MEDIUM'::public."TicketPriority" NOT NULL,
    status public."TicketStatus" DEFAULT 'OPEN'::public."TicketStatus" NOT NULL,
    messages_json jsonb,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.support_tickets OWNER TO storeuser;

--
-- Name: tenant_content; Type: TABLE; Schema: public; Owner: storeuser
--

CREATE TABLE public.tenant_content (
    id text NOT NULL,
    tenant_id text NOT NULL,
    announcement_text text,
    footer_config jsonb,
    copy_config jsonb,
    hero_slides jsonb,
    faqs jsonb,
    privacy_policy jsonb,
    seo_title character varying(255),
    seo_description text,
    active_promo jsonb,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.tenant_content OWNER TO storeuser;

--
-- Name: tenant_settings; Type: TABLE; Schema: public; Owner: storeuser
--

CREATE TABLE public.tenant_settings (
    id text NOT NULL,
    tenant_id text NOT NULL,
    currency_symbol character varying(10) DEFAULT 'Rs.'::character varying NOT NULL,
    currency_code character varying(10) DEFAULT 'PKR'::character varying NOT NULL,
    tax_rate numeric(5,2) DEFAULT 0 NOT NULL,
    service_fee numeric(5,2) DEFAULT 0 NOT NULL,
    enable_dine_in boolean DEFAULT true NOT NULL,
    enable_takeaway boolean DEFAULT true NOT NULL,
    enable_delivery boolean DEFAULT true NOT NULL,
    enabled_payment_methods text[] DEFAULT ARRAY['CASH'::text, 'CARD'::text, 'ONLINE'::text],
    phone character varying(50),
    email character varying(255),
    address text,
    receipt_header text,
    receipt_footer text,
    stripe_public_key character varying(255),
    stripe_secret_key_enc text,
    delivery_fee numeric(10,2) DEFAULT 0 NOT NULL,
    min_order_value numeric(10,2) DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    delivery_areas jsonb,
    operating_hours jsonb
);


ALTER TABLE public.tenant_settings OWNER TO storeuser;

--
-- Name: tenant_themes; Type: TABLE; Schema: public; Owner: storeuser
--

CREATE TABLE public.tenant_themes (
    id text NOT NULL,
    tenant_id text NOT NULL,
    primary_color character varying(20) DEFAULT '#0f172a'::character varying NOT NULL,
    accent_color character varying(20) DEFAULT '#3b82f6'::character varying NOT NULL,
    bg_color character varying(20) DEFAULT '#f8fafc'::character varying NOT NULL,
    logo_url jsonb,
    favicon_url jsonb,
    font_family character varying(100) DEFAULT 'Inter'::character varying NOT NULL,
    default_card_style character varying(20) DEFAULT 'default'::character varying NOT NULL,
    popular_card_style character varying(20) DEFAULT 'default'::character varying NOT NULL,
    category_background jsonb,
    background_image jsonb,
    background_mode character varying(20),
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.tenant_themes OWNER TO storeuser;

--
-- Name: tenants; Type: TABLE; Schema: public; Owner: storeuser
--

CREATE TABLE public.tenants (
    id text NOT NULL,
    name character varying(255) NOT NULL,
    slug character varying(100) NOT NULL,
    custom_domain character varying(255),
    business_type public."BusinessType" NOT NULL,
    plan_id text,
    status public."TenantStatus" DEFAULT 'ACTIVE'::public."TenantStatus" NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.tenants OWNER TO storeuser;

--
-- Name: users; Type: TABLE; Schema: public; Owner: storeuser
--

CREATE TABLE public.users (
    id text NOT NULL,
    tenant_id text,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    avatar_url text,
    global_role public."GlobalRole" DEFAULT 'TENANT_USER'::public."GlobalRole" NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO storeuser;

--
-- Name: variant_groups; Type: TABLE; Schema: public; Owner: storeuser
--

CREATE TABLE public.variant_groups (
    id text NOT NULL,
    menu_item_id text NOT NULL,
    title character varying(255) NOT NULL,
    min_select integer DEFAULT 0 NOT NULL,
    max_select integer DEFAULT 1 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.variant_groups OWNER TO storeuser;

--
-- Name: variant_options; Type: TABLE; Schema: public; Owner: storeuser
--

CREATE TABLE public.variant_options (
    id text NOT NULL,
    variant_group_id text NOT NULL,
    name character varying(255) NOT NULL,
    price_modifier numeric(10,2) DEFAULT 0 NOT NULL,
    is_default boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.variant_options OWNER TO storeuser;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: storeuser
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
\.


--
-- Data for Name: branches; Type: TABLE DATA; Schema: public; Owner: storeuser
--

COPY public.branches (id, tenant_id, name, address, phone, is_active, opening_time, closing_time, created_at, updated_at) FROM stdin;
a0c8625c-9aaa-4d47-afcd-6d3a4a8ec54b	459daa11-c9e6-4baa-89c5-da4b8e29cbd2	Main Branch	Primary location	\N	t	\N	\N	2026-07-30 15:11:58.95	2026-07-30 15:11:58.95
e2a00869-a3e0-4e5e-b754-899df93350b7	e3d7089e-13e3-407c-9504-49c57f7bf44c	Main Branch	Primary location	\N	t	\N	\N	2026-08-02 16:21:06.257	2026-08-02 16:21:06.257
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: storeuser
--



--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: storeuser
--

COPY public.customers (id, tenant_id, name, email, phone, is_guest, loyalty_points, tier, total_orders, total_spent, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: delivery_zones; Type: TABLE DATA; Schema: public; Owner: storeuser
--

COPY public.delivery_zones (id, branch_id, area_name, city, delivery_fee, estimated_minutes, is_active, created_at, updated_at) FROM stdin;
af3e9794-f9dd-47c2-8b60-0426107f4c0d	a0c8625c-9aaa-4d47-afcd-6d3a4a8ec54b			0.00	45	t	2026-08-02 15:44:41.239	2026-08-02 15:44:33.701
\.


--
-- Data for Name: global_areas; Type: TABLE DATA; Schema: public; Owner: storeuser
--



--
-- Data for Name: menu_items; Type: TABLE DATA; Schema: public; Owner: storeuser
--



--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: storeuser
--

COPY public.order_items (id, order_id, menu_item_id, item_name, unit_price, quantity, selected_variants, item_note, total_price, created_at) FROM stdin;
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: storeuser
--

COPY public.orders (id, order_number, tenant_id, branch_id, customer_id, channel, fulfillment_type, status, payment_method, payment_status, subtotal, tax_amount, discount_amount, delivery_fee, grand_total, delivery_address, nearest_landmark, delivery_instructions, table_number, special_instructions, private_kitchen_notes, status_timeline, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: platform_plans; Type: TABLE DATA; Schema: public; Owner: storeuser
--

COPY public.platform_plans (id, name, monthly_price, max_branches, max_menu_items, transaction_fee_pct, features_json, created_at, updated_at) FROM stdin;
plan-starter	Starter	0.00	1	50	2.50	{"features": ["1 Branch", "50 Menu Items", "POS Terminal", "Online Ordering", "Basic Reports"]}	2026-07-27 10:34:14.892	2026-07-27 10:34:14.892
plan-pro	Pro	4999.00	5	500	1.50	{"features": ["5 Branches", "500 Menu Items", "POS Terminal", "Online Ordering", "Advanced Reports", "Staff Management", "Delivery Zones"]}	2026-07-27 10:34:14.927	2026-07-27 10:34:14.927
\.


--
-- Data for Name: pos_devices; Type: TABLE DATA; Schema: public; Owner: storeuser
--

COPY public.pos_devices (id, tenant_id, branch_id, device_id, computer_name, socket_id, version, status, os, local_ip, last_seen, created_at, updated_at) FROM stdin;
feabe27a-22ca-41e1-924f-99250703ff0d	459daa11-c9e6-4baa-89c5-da4b8e29cbd2	a0c8625c-9aaa-4d47-afcd-6d3a4a8ec54b	test-device-001	\N	\N	\N	offline	\N	\N	2026-08-03 10:16:33.107	2026-08-03 05:26:05.692	2026-08-03 10:16:38.65
\.


--
-- Data for Name: print_history; Type: TABLE DATA; Schema: public; Owner: storeuser
--

COPY public.print_history (id, tenant_id, branch_id, device_id, printer_id, type, status, payload, error, created_at) FROM stdin;
\.


--
-- Data for Name: print_jobs; Type: TABLE DATA; Schema: public; Owner: storeuser
--

COPY public.print_jobs (id, tenant_id, branch_id, device_id, printer_id, type, status, payload, error, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: printers; Type: TABLE DATA; Schema: public; Owner: storeuser
--

COPY public.printers (id, tenant_id, branch_id, name, is_receipt, is_kitchen, is_label, driver, vendor_id, product_id, ip, port, paper_width, status, last_heartbeat, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: promotions; Type: TABLE DATA; Schema: public; Owner: storeuser
--

COPY public.promotions (id, tenant_id, code, discount_type, discount_value, min_order_amount, max_discount_cap, start_date, end_date, usage_limit, times_used, is_active, created_at, updated_at) FROM stdin;
4a059204-a405-4406-87a3-1560940dbe30	459daa11-c9e6-4baa-89c5-da4b8e29cbd2	PEHLA_ORDER	FREE_DELIVERY	10.00	1000.00	3000.00	2026-08-01 00:00:00	2026-08-02 00:00:00	20	0	t	2026-07-31 07:51:31.966	2026-07-31 08:02:37.406
\.


--
-- Data for Name: staff_profiles; Type: TABLE DATA; Schema: public; Owner: storeuser
--

COPY public.staff_profiles (id, user_id, branch_id, designation, permission_orders, permission_menu, permission_reports, permission_settings, created_at, updated_at) FROM stdin;
dc9fee67-42b5-4986-9627-af0a71a08aee	5144ec97-c3ef-4b9b-83c6-2a3ecbb0a7e4	a0c8625c-9aaa-4d47-afcd-6d3a4a8ec54b	OWNER	MANAGE	MANAGE	MANAGE	MANAGE	2026-07-30 15:11:59.314	2026-07-30 15:11:59.314
75ac5885-be0f-4ae1-8234-75e42dbb2750	6ef80f83-a523-4c5e-837c-ad762e4f7576	e2a00869-a3e0-4e5e-b754-899df93350b7	OWNER	MANAGE	MANAGE	MANAGE	MANAGE	2026-08-02 16:21:06.844	2026-08-02 16:21:06.844
\.


--
-- Data for Name: support_tickets; Type: TABLE DATA; Schema: public; Owner: storeuser
--

COPY public.support_tickets (id, tenant_id, created_by_user_id, subject, category, priority, status, messages_json, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: tenant_content; Type: TABLE DATA; Schema: public; Owner: storeuser
--



--
-- Data for Name: tenant_settings; Type: TABLE DATA; Schema: public; Owner: storeuser
--



--
-- Data for Name: tenant_themes; Type: TABLE DATA; Schema: public; Owner: storeuser
--



--
-- Data for Name: tenants; Type: TABLE DATA; Schema: public; Owner: storeuser
--

COPY public.tenants (id, name, slug, custom_domain, business_type, plan_id, status, created_at, updated_at) FROM stdin;
459daa11-c9e6-4baa-89c5-da4b8e29cbd2	Marhaba Bar B Q Restaurant	marhaba-bar-b-q-restaurant	\N	RESTAURANT	\N	ACTIVE	2026-07-30 15:11:58.885	2026-08-02 07:35:48.26
e3d7089e-13e3-407c-9504-49c57f7bf44c	AZ Food Corner	az-food-corner	\N	RESTAURANT	\N	ACTIVE	2026-08-02 16:21:06.207	2026-08-02 16:21:06.207
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: storeuser
--



--
-- Data for Name: variant_groups; Type: TABLE DATA; Schema: public; Owner: storeuser
--



--
-- Data for Name: variant_options; Type: TABLE DATA; Schema: public; Owner: storeuser
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: branches branches_pkey; Type: CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.branches
    ADD CONSTRAINT branches_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: delivery_zones delivery_zones_pkey; Type: CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.delivery_zones
    ADD CONSTRAINT delivery_zones_pkey PRIMARY KEY (id);


--
-- Name: global_areas global_areas_pkey; Type: CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.global_areas
    ADD CONSTRAINT global_areas_pkey PRIMARY KEY (id);


--
-- Name: menu_items menu_items_pkey; Type: CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.menu_items
    ADD CONSTRAINT menu_items_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: platform_plans platform_plans_pkey; Type: CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.platform_plans
    ADD CONSTRAINT platform_plans_pkey PRIMARY KEY (id);


--
-- Name: pos_devices pos_devices_pkey; Type: CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.pos_devices
    ADD CONSTRAINT pos_devices_pkey PRIMARY KEY (id);


--
-- Name: print_history print_history_pkey; Type: CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.print_history
    ADD CONSTRAINT print_history_pkey PRIMARY KEY (id);


--
-- Name: print_jobs print_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.print_jobs
    ADD CONSTRAINT print_jobs_pkey PRIMARY KEY (id);


--
-- Name: printers printers_pkey; Type: CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.printers
    ADD CONSTRAINT printers_pkey PRIMARY KEY (id);


--
-- Name: promotions promotions_pkey; Type: CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.promotions
    ADD CONSTRAINT promotions_pkey PRIMARY KEY (id);


--
-- Name: staff_profiles staff_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.staff_profiles
    ADD CONSTRAINT staff_profiles_pkey PRIMARY KEY (id);


--
-- Name: support_tickets support_tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.support_tickets
    ADD CONSTRAINT support_tickets_pkey PRIMARY KEY (id);


--
-- Name: tenant_content tenant_content_pkey; Type: CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.tenant_content
    ADD CONSTRAINT tenant_content_pkey PRIMARY KEY (id);


--
-- Name: tenant_settings tenant_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.tenant_settings
    ADD CONSTRAINT tenant_settings_pkey PRIMARY KEY (id);


--
-- Name: tenant_themes tenant_themes_pkey; Type: CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.tenant_themes
    ADD CONSTRAINT tenant_themes_pkey PRIMARY KEY (id);


--
-- Name: tenants tenants_pkey; Type: CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: variant_groups variant_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.variant_groups
    ADD CONSTRAINT variant_groups_pkey PRIMARY KEY (id);


--
-- Name: variant_options variant_options_pkey; Type: CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.variant_options
    ADD CONSTRAINT variant_options_pkey PRIMARY KEY (id);


--
-- Name: branches_tenant_id_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX branches_tenant_id_idx ON public.branches USING btree (tenant_id);


--
-- Name: categories_tenant_id_sort_order_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX categories_tenant_id_sort_order_idx ON public.categories USING btree (tenant_id, sort_order);


--
-- Name: customers_tenant_id_phone_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX customers_tenant_id_phone_idx ON public.customers USING btree (tenant_id, phone);


--
-- Name: customers_tenant_id_phone_key; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE UNIQUE INDEX customers_tenant_id_phone_key ON public.customers USING btree (tenant_id, phone);


--
-- Name: delivery_zones_branch_id_is_active_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX delivery_zones_branch_id_is_active_idx ON public.delivery_zones USING btree (branch_id, is_active);


--
-- Name: menu_items_tenant_id_category_id_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX menu_items_tenant_id_category_id_idx ON public.menu_items USING btree (tenant_id, category_id);


--
-- Name: menu_items_tenant_id_is_available_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX menu_items_tenant_id_is_available_idx ON public.menu_items USING btree (tenant_id, is_available);


--
-- Name: order_items_order_id_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX order_items_order_id_idx ON public.order_items USING btree (order_id);


--
-- Name: orders_customer_id_created_at_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX orders_customer_id_created_at_idx ON public.orders USING btree (customer_id, created_at);


--
-- Name: orders_order_number_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX orders_order_number_idx ON public.orders USING btree (order_number);


--
-- Name: orders_order_number_key; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE UNIQUE INDEX orders_order_number_key ON public.orders USING btree (order_number);


--
-- Name: orders_tenant_id_branch_id_status_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX orders_tenant_id_branch_id_status_idx ON public.orders USING btree (tenant_id, branch_id, status);


--
-- Name: pos_devices_branch_id_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX pos_devices_branch_id_idx ON public.pos_devices USING btree (branch_id);


--
-- Name: pos_devices_device_id_key; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE UNIQUE INDEX pos_devices_device_id_key ON public.pos_devices USING btree (device_id);


--
-- Name: pos_devices_tenant_id_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX pos_devices_tenant_id_idx ON public.pos_devices USING btree (tenant_id);


--
-- Name: print_history_branch_id_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX print_history_branch_id_idx ON public.print_history USING btree (branch_id);


--
-- Name: print_history_tenant_id_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX print_history_tenant_id_idx ON public.print_history USING btree (tenant_id);


--
-- Name: print_jobs_branch_id_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX print_jobs_branch_id_idx ON public.print_jobs USING btree (branch_id);


--
-- Name: print_jobs_device_id_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX print_jobs_device_id_idx ON public.print_jobs USING btree (device_id);


--
-- Name: print_jobs_tenant_id_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX print_jobs_tenant_id_idx ON public.print_jobs USING btree (tenant_id);


--
-- Name: printers_branch_id_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX printers_branch_id_idx ON public.printers USING btree (branch_id);


--
-- Name: printers_tenant_id_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX printers_tenant_id_idx ON public.printers USING btree (tenant_id);


--
-- Name: promotions_tenant_id_code_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX promotions_tenant_id_code_idx ON public.promotions USING btree (tenant_id, code);


--
-- Name: staff_profiles_branch_id_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX staff_profiles_branch_id_idx ON public.staff_profiles USING btree (branch_id);


--
-- Name: staff_profiles_user_id_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX staff_profiles_user_id_idx ON public.staff_profiles USING btree (user_id);


--
-- Name: staff_profiles_user_id_key; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE UNIQUE INDEX staff_profiles_user_id_key ON public.staff_profiles USING btree (user_id);


--
-- Name: support_tickets_tenant_id_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX support_tickets_tenant_id_idx ON public.support_tickets USING btree (tenant_id);


--
-- Name: tenant_content_tenant_id_key; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE UNIQUE INDEX tenant_content_tenant_id_key ON public.tenant_content USING btree (tenant_id);


--
-- Name: tenant_settings_tenant_id_key; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE UNIQUE INDEX tenant_settings_tenant_id_key ON public.tenant_settings USING btree (tenant_id);


--
-- Name: tenant_themes_tenant_id_key; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE UNIQUE INDEX tenant_themes_tenant_id_key ON public.tenant_themes USING btree (tenant_id);


--
-- Name: tenants_custom_domain_key; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE UNIQUE INDEX tenants_custom_domain_key ON public.tenants USING btree (custom_domain);


--
-- Name: tenants_slug_key; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE UNIQUE INDEX tenants_slug_key ON public.tenants USING btree (slug);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_tenant_id_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX users_tenant_id_idx ON public.users USING btree (tenant_id);


--
-- Name: variant_groups_menu_item_id_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX variant_groups_menu_item_id_idx ON public.variant_groups USING btree (menu_item_id);


--
-- Name: variant_options_variant_group_id_idx; Type: INDEX; Schema: public; Owner: storeuser
--

CREATE INDEX variant_options_variant_group_id_idx ON public.variant_options USING btree (variant_group_id);


--
-- Name: branches branches_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.branches
    ADD CONSTRAINT branches_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: categories categories_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: customers customers_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: delivery_zones delivery_zones_branch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.delivery_zones
    ADD CONSTRAINT delivery_zones_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES public.branches(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: menu_items menu_items_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.menu_items
    ADD CONSTRAINT menu_items_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: menu_items menu_items_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.menu_items
    ADD CONSTRAINT menu_items_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: order_items order_items_menu_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_menu_item_id_fkey FOREIGN KEY (menu_item_id) REFERENCES public.menu_items(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: orders orders_branch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES public.branches(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: orders orders_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: orders orders_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: pos_devices pos_devices_branch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.pos_devices
    ADD CONSTRAINT pos_devices_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES public.branches(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: pos_devices pos_devices_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.pos_devices
    ADD CONSTRAINT pos_devices_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: print_history print_history_branch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.print_history
    ADD CONSTRAINT print_history_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES public.branches(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: print_history print_history_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.print_history
    ADD CONSTRAINT print_history_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: print_jobs print_jobs_branch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.print_jobs
    ADD CONSTRAINT print_jobs_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES public.branches(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: print_jobs print_jobs_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.print_jobs
    ADD CONSTRAINT print_jobs_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: printers printers_branch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.printers
    ADD CONSTRAINT printers_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES public.branches(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: printers printers_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.printers
    ADD CONSTRAINT printers_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: promotions promotions_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.promotions
    ADD CONSTRAINT promotions_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: staff_profiles staff_profiles_branch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.staff_profiles
    ADD CONSTRAINT staff_profiles_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES public.branches(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: staff_profiles staff_profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.staff_profiles
    ADD CONSTRAINT staff_profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: support_tickets support_tickets_created_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.support_tickets
    ADD CONSTRAINT support_tickets_created_by_user_id_fkey FOREIGN KEY (created_by_user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: support_tickets support_tickets_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.support_tickets
    ADD CONSTRAINT support_tickets_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tenant_content tenant_content_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.tenant_content
    ADD CONSTRAINT tenant_content_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tenant_settings tenant_settings_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.tenant_settings
    ADD CONSTRAINT tenant_settings_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tenant_themes tenant_themes_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.tenant_themes
    ADD CONSTRAINT tenant_themes_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tenants tenants_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.platform_plans(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: users users_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: variant_groups variant_groups_menu_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.variant_groups
    ADD CONSTRAINT variant_groups_menu_item_id_fkey FOREIGN KEY (menu_item_id) REFERENCES public.menu_items(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: variant_options variant_options_variant_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: storeuser
--

ALTER TABLE ONLY public.variant_options
    ADD CONSTRAINT variant_options_variant_group_id_fkey FOREIGN KEY (variant_group_id) REFERENCES public.variant_groups(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: storeuser
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict Ctsji8nIORKoBDmNi0ZaPldqw8FgmKHztCzFBD5LEx042BWgcNgcLPJrbVmpLn8

